.List {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr 4fr;
  gap: 2rem;
  padding: 2rem;
  padding-bottom: 3rem;
  width: 100%;
  max-width: 70rem;
}

@media (max-width: 60rem) {
  .List {
    grid-template-columns: 3fr 3fr 3fr;
    gap: 1.8rem;
    padding: 1.8rem;
  }
}

@media (max-width: 40rem) {
  .List {
    grid-template-columns: 2fr 2fr;
    gap: 1.6rem;
    padding: 1.6rem;
  }
}

@media (max-width: 30rem) {
  .List {
    grid-template-columns: 2fr 2fr;
    gap: 1rem;
    padding: 1rem;
  }
}

.ListItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.1) 100%);
  background-position: 0 1000px;
  border-radius: 2px;
  height: 17rem;
  animation: 25s ease-out 0.2s infinite waving;
}

@keyframes waving {
  0% {
    background-position: 0 -1000px;
  }
  50% {
    background-position: 0 1000px;
  }

  100% {
    background-position: 0 -1000px;
  }
}
